# Install the base requirements first. This wheel supports NVIDIA Blackwell GPUs on Linux/WSL.
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128; platform_system == "Linux" and platform_machine == "x86_64"
torchvision==0.26.0+cu128; platform_system == "Linux" and platform_machine == "x86_64"
cloudsen12-models==1.0.2
scikit-image>=0.26
